<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Player Look Up</h3>
    <div class="box">
        <form method="POST" action="/lineup">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="playerName" name="playerName" placeholder="Player's Name" autofocus="">
                </div>
            </div>
            <input type="hidden" name="btn_identifier" value="search" />
            <button class="button is-block is-info is-large is-fullwidth">Submit</button>
            <h1>Name: {{name}}  Games Played: {{gamesPlayed}}  Batting Average: {{batAvg}}  Homeruns: {{homeruns}}  Strikeouts: {{strikeouts}}  RBI:  {{rbi}}</h1>
        </form>
        <form method="POST" action="/lineup">
            <input type="hidden" name="btn_identifier" value="add" />
            <button class="button is-block is-info is-large is-fullwidth">Add Player</button>
            <h1>{{p1}}</h1>
            <h1>{{p2}}</h1>
            <h1>{{p3}}</h1>
            <h1>{{p4}}</h1>
            <h1>{{p5}}</h1>
            <h1>{{p6}}</h1>
            <h1>{{p7}}</h1>
            <h1>{{p8}}</h1>
            <h1>{{p9}}</h1>
        </form>
    </div>
    <form method="POST" action="/lineup">
        <input type="hidden" name="btn_identifier" value="submit" />
        <button class="button is-block is-info is-large is-fullwidth">Submit Lineup</button>
    </form>
</div>
{% endblock %}