<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Player Look Up</h3>
    <div class="box">
        <form method="POST" action="/lineup">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="playerName" name="playerName" placeholder="Player's Name" autofocus="">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Submit</button>
            <h1>Name: {{name}}  Games Played: {{gamesPlayed}}  Batting Average: {{batAvg}}  Homeruns: {{homeruns}}  Strikeouts: {{strikeouts}}  RBI:  {{rbi}}</h1>
        </form>
    </div>
</div>
{% endblock %}