{% extends "base.html" %}
{% block content %}

<h1>{{tName}}</h1>
<div class="box">
        {{data|safe}}
        <table style="width:100%">
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Position</th>
            </tr>
            <tr>
                <th>{{nb1}}</th>
                <th>{{nm1}}</th>
                <th>{{p1}}</th>
            </tr>
            <tr>
                <th>{{nb2}}</th>
                <th>{{nm2}}</th>
                <th>{{p2}}</th>
            </tr>
            <tr>
                <th>{{nb3}}</th>
                <th>{{nm3}}</th>
                <th>{{p3}}</th>
            </tr>
            <tr>
                <th>{{nb4}}</th>
                <th>{{nm4}}</th>
                <th>{{p4}}</th>
            </tr>
            <tr>
                <th>{{nb5}}</th>
                <th>{{nm5}}</th>
                <th>{{p5}}</th>
            </tr>
            <tr>
                <th>{{nb6}}</th>
                <th>{{nm6}}</th>
                <th>{{p6}}</th>
            </tr>
            <tr>
                <th>{{nb7}}</th>
                <th>{{nm7}}</th>
                <th>{{p7}}</th>
            </tr>
            <tr>
                <th>{{nb8}}</th>
                <th>{{nm8}}</th>
                <th>{{p8}}</th>
            </tr>
            <tr>
                <th>{{nb9}}</th>
                <th>{{nm9}}</th>
                <th>{{p9}}</th>
            </tr>
        </table>
    </div>

{% endblock %}